* {
	margin: 0;
	padding: 0;
	font-family: poppins;
}
html {
	background-color: #f8f5fb;
}
.container {
	margin-right: 10%;
	margin-left: 10%;
}
.navbar-brand {
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.nav-right {
	float: right;
}
.nav {
	background-color: white;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.nav ul li {
	display: inline-block;
	list-style-type: none;
}
.nav ul li a {
	text-decoration: none;
	color: black;
	display: block;
	padding: 20px;
}
.nav ul li:hover {
	background-color: #f8f5fb;
}
.nav ul ul {
	display: none;
}
.nav ul .submenu:hover ul {
	display: block;
	z-index: 1;
	position: absolute;
	background-color: white;
}
.nav ul .submenu:hover ul li {
	display: block;
}
.badge:after {
	content: attr(value);
	font-size: 12px;
	color: #fff;
	background: red;
	border-radius: 50%;
	padding: 0 5px;
	position: relative;
	left: -8px;
	top: -10px;
	opacity: 0.9;
}
.signup {
	background-color: #00a96c;
	color: white !important;
}
.signup:hover {
	background-color: white;
	color: black !important;
}

.book {
    margin: 20px;
    justify-content:center ;
    
}

.book h2 {
    text-align: center;
    padding: 10px;
}

.search {
    display: flex;
    position: relative;
    width: 70%;
    margin-right: auto;
    margin-left: auto;

}

.search input {
    padding: 10px;
    width: 100%;
    
    
}

.search a {
    position: absolute;
    right: 10px;
    top: 10px;
    
}